body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 40px;
}

img {
    max-height: 150px;
    max-width: 150px;
}

a {
    text-decoration: none;
    color: black;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

#user-list {
    margin-bottom: 30px;
}

#user-list a:hover {
    text-decoration: underline;
}

.user-row {
    display: inline;
}

.btn {
    background-color: lightgray;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#user-list button:last-child {
    margin-top: 20px;
}

#new-user-form button:last-child {
    margin-top: 20px;
}
