{% extends "base.html" %}

{% block title %}
<h1>Edit a User</h1>
{% endblock %}

{% block content %}

<form method="POST">
    <div class="form-row">
        <label for="first-name">First Name</label>
        <input name="first-name" type="text" value="{{user.first_name}}" required>
    </div>

    <div class="form-row">
        <label for="last-name">Last Name</label>
        <input name="last-name" type="text" value="{{user.last_name}}" required>
    </div>

    <div class="form-row">
        <label for="image-url">Image URL</label>
        <input name="image-url" type="url" value="{{user.image_url}}">
    </div>

    <a class="btn" href="/users/{{user.id}}">Cancel</a>
    <button class="btn" type="submit">Save</button>

</form>


{% endblock %}