{% extends "base.html" %}

{% block title %}
<h1>Create a User</h1>
{% endblock %}

{% block content %}

<form method="POST" id="new-user-form">
    <div class="form-row">
        <label for="first-name">First Name</label>
        <input name="first-name" type="text" placeholder="Enter a first name" required>
    </div>

    <div class="form-row">
        <label for="last-name">Last Name</label>
        <input name="last-name" type="text" placeholder="Enter a last name" required>
    </div>

    <div class="form-row">
        <label for="image-url">Image URL</label>
        <input name="image-url" type="url" placeholder="Enter an image URL">
    </div>

    <button class="btn">Add</button>

</form>

{% endblock %}